
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap');

*{
    margin:0%;
    padding: 0%;
}
body{
    background-color: #FFAC70;
    margin-bottom: auto;
    width:100%;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tic-tac-toe{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    position: relative;
    top: 10vh;
}

.square{
    width: 50vh;
    height: 50vh;
    background-color: #FFF0DD;
    border-radius: 10vh;
    position: relative;
    align-content: center;
    top: 18vh;
    justify-content: center;
}


.horizantal-line{
    height: 0.2rem;
    background: #000000;
    position:relative;
    width: 40vh;
    top:-10px;
}

#line-1{
     top: 6vh;
     left: 5vh;
}

#line-2{
    top: 8vh;
    left: 5vh;
}

.vertical-line{
    height: 40vh;
    width: 0.2rem;
    background: #000000;
    position:relative;
}

#line-3{
    top:-32vh;
    left:18vh;
}

#line-4{
    top:-72vh;
    left:32vh;
}

button{
    width: 12vh;
    height:12vh;
    border:none;
    position: relative;
    cursor:pointer;
    background-color:#FFF0DD;
    padding: 2.5rem;
}


#btn-1{
    top:5vh;
    left:5vh;
}

#btn-2{
    
    left:6.5vh;
    top:5vh;
}

#btn-3{
    left:8vh;
    top:5vh;
}

#btn-4{
    top:7vh;
    left:5vh;
}

#btn-5{
    left:6.5vh;
    top:7vh;
}

#btn-6{
    left:8vh;
    top:7vh;
}

#btn-7{
    top:9vh;
    left:5vh;
}

#btn-8{
    top:9vh;
    left:6.5vh;
}

#btn-9{
   top:9vh;
   left:8vh;
}